.newTaskFormContainer {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  width: 80vw;

  & h2 {
    font-size: 1.5rem;
    color: #bfbfbf;
  }
}

.descriptionInput {
  resize: none; /* disable resizing */
  border-color: rgba(24, 23, 67, 0.2);
  border-radius: 0.7rem;
  height: 12rem;
  // width: 100%; /* adjust the width as needed */
  padding: 1rem; /* add some padding */
  font-family: inherit; /* use the same font as other inputs */
}

.separator {
  margin: 2rem 0;
}

.gradientButton {
  background-image: linear-gradient(to left, #00ffff 0%, #254dde 100%);
  border: none;
  border-radius: 1.8rem;
  height: 4rem;
  width: 9rem;
  color: #fff;
  cursor: pointer;
}
