.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .homePageView {
    width: clamp(300px, 100%, 768px);
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & button {
    margin-top: 20px;
  }

  .text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
}
